[submodule "deps/args"]
	path = deps/args
	url = https://github.com/Taywee/args.git
[submodule "deps/BBHash"]
	path = deps/BBHash
	url = https://github.com/vgteam/BBHash.git
[submodule "deps/gssw"]
	path = deps/gssw
	url = https://github.com/vgteam/gssw.git
[submodule "deps/gfakluge"]
	path = deps/gfakluge
	url = https://github.com/vgteam/gfakluge.git
[submodule "deps/edlib"]
	path = deps/edlib
	url = https://github.com/martinsos/edlib
